Repository tiki/capture-receipt-capacitor, pull requests merged in 2023-08, with the labels that each got.

#43 Initialize microblink retailer and connect accounts
  android/gradle/wrapper/gradle-wrapper.properties
  android/src/androidTest/kotlin/com/mytiki/sdk/capture/receipt/capacitor/AcountLinkingTest.kt
  android/src/androidTest/kotlin/com/mytiki/sdk/capture/receipt/capacitor/InstantiateClientTest.kt
  android/src/androidTest/kotlin/com/mytiki/sdk/capture/receipt/capacitor/ReteilerEnumTests.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/Retailer.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/RetailerEnum.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/req/ReqLogin.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/req/ReqRetailerAccount.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspRetailerAccount.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspRetailerAccountList.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspRetailerOrders.kt
Labels: fix

#121 Fix/refactor the use cases of the account type and receipt account type
  src/account.ts
  src/index.ts
  src/receipt-capture-plugin.ts
  src/receipt-capture-web.ts
  src/receipt-capture.ts
Labels: chore, fix

#129 Fix/android/refactor scan method
  android/src/androidTest/kotlin/com/mytiki/sdk/capture/receipt/capacitor/RetailerEnumTest.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/Account.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/AccountCommon.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/AccountTypeEnum.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/Email.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/EmailEnum.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/ReceiptCapturePlugin.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/Retailer.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/RetailerEnum.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/ScanTypeEnum.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/TypeEnum.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/req/ReqAccount.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/req/ReqScan.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspAccount.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspOnlineScan.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspRetailerAccount.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspRetailerRmAccount.kt
Labels: fix, Android

#128 Fix/refactor scan method
  src/account.ts
  src/receipt-capture-plugin.ts
  src/receipt-capture-web.ts
  src/receipt-capture.ts
Labels: chore, fix, Vue

#134 Fix/android/refactor scan method
  android/src/androidTest/kotlin/com/mytiki/sdk/capture/receipt/capacitor/RetailerEnumTest.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/Account.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/AccountCommon.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/AccountTypeEnum.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/Email.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/EmailEnum.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/Physical.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/ReceiptCapture.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/ReceiptCapturePlugin.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/Retailer.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/RetailerEnum.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/ScanTypeEnum.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/req/ReqAccount.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/req/ReqScan.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspAccount.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspAccountList.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspEmail.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspReceipt.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspRetailerAccount.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspRetailerAccountList.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspRetailerOrders.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspRetailerRmAccount.kt
  android/src/main/kotlin/com/mytiki/sdk/capture/receipt/capacitor/rsp/RspScan.kt
Labels: fix, Android

#145 Fix/ios/add return Accounts
  ios/Plugin/Account.swift
  ios/Plugin/AccountCommon.swift
  ios/Plugin/ReceiptCapturePlugin.swift
  ios/Plugin/Req/ReqLogout.swift
  ios/Plugin/Retailer.swift
  ios/Plugin/RetailerEnum.swift
Labels: fix, iOS
